*{margin:0;padding:0;box-sizing:border-box;}
a{text-decoration:none;}
ul,li{list-style: none;}
ul{
    margin: 0 !important;
    padding: 0 !important;
}
body{
    font-family: PingFangSC Regular, Hiragino Sans GB, 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    background: #fff;
}
img{vertical-align:middle;}
button{border:none;}
.vertical-container{
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.wraped{
    max-width:1110px;
    margin:0 auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.6rem 0;
    font-weight: 500!important;
}
.active{
    background: #fafafa;
}
.clearfix:after{
    display:block;
    content:'';
    clear:both;
}
.clearfix{
    *zoom:1;
}
/*headBg*/
.headBg {
    background: #f5f5f5;
    height: 30px;
    font-size:13px;
}
.headBg a{color:#333;}
.fr {
    float: right;
}
.head .left,.fr {
    line-height: 30px;

}
.head .left:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/icon1.png) no-repeat;
    background-size: cover;
    position: relative;
    top: 2px;
    left: -6px;
}
.head .sign {
    padding: 0 5px 0 0;
    display: inline-block;
}
.head .sign i {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/icon2.png) no-repeat 0 0;
    position: relative;
    top: 2px;
    left: -6px;
}
.head .register {
    padding: 0 10px 0 5px;
}
/*header*/
nav{
    background: #fff;
}
nav .logo{float:left;}
nav ul{float:right;margin:0;}
nav .list{
    float:left;
	position:relative;
}
.logo img{
    margin:19px;
    vertical-align:middle;
}
.nav span{
    display:inline-block;

}
.nav{
    height:90px;
    position:relative;
}
.nav .head{
    height:90px;
    width:101px;
    line-height:90px;
    text-align:center;
    font-size: 16px;
    color: #4c4c4c;
    text-align: center;
}
.nav .head:hover{background: #fafafa;}
.nav ul{
    visibility: hidden;
    position:absolute;
    top:90px;
    left:-17px;
    opacity: 0.2;
    transform: translateY(-20px);
    transition: transform 0.5s,opacity 0.5s;
}
.list:hover ul{
    visibility: visible;
    transform: translateY(0px);
    opacity: 1;

}
.nav li li{
    height:40px;
    line-height:40px;
    text-align:center;
    background:#fff;
    font-size: 14px;
    color: #4c4c4c;
}
.nav li li a{color: #4c4c4c;}
.list ul span{
    min-width:140px;
	padding:0 10px
}
.nav li li:hover{background:#f8f8f8;}
.nav li li:hover a{
    color:#05668d;

}
.nav li li:hover .list>ul>span{}
.nav .last ul{margin-right:-40px;}

/*main*/

/*container*/

main{
    background: #f5f5f5;
    font-size:16px;

}
main .container{
    flex:742;
}
main .sidebar{
    flex:368;
}
main .head1{
    font-size:16px;
    padding:60px 10px 48px;
    color:#aaa;
}
main .head1 a{color:#05668d;}
main .head1 h1{
    display:inline;
    font-size:40px;
}
.container img{
    width:262px;
    height:195px;
}
.container .head2{
    text-align:center;
    font-size:22px;
    margin:20px 0;
}
.container .positions{
    color:#666;
    font-size:14px;
}
/*活动*/
.activity{
    padding-top:64px;

}
.activity--re{padding-top:0;}
.activity img{
    width:360px;
    height:248px;
}
.activity p{
    max-width:325px;
    margin:0 auto;
    inline-block:24px;
}
.activity li{
    float:left;
    margin-left:15px;
}
.activity li.first{
    margin-left:0;
}
.activity li p.head--re{font-size:29px;margin-top:36px;text-align:center;}
.activity li p.head--re:hover{color:#05668d;}
.activity li p.contact1{padding-top:25px;padding-bottom:48px;color:#333;text-align: justify;}
/*合作伙伴*/
.wraped2{
    background: #fff;}
.teamwork{
    max-width:1110px;
    margin:0 auto;
    height:312px;
    background: #f5f5f5;
	}
.teamwork li{
    display:flex;
    margin-bottom:40px;
}
.teamwork li>span{flex:1;}
.teamwork img{
    height:76px;
    width:82%;
}
/*sidebar*/
.sidebar{margin-top:92px;}
.sidebar--re{margin-top:0;}
.sidebar ul.foo{
    display:flex;
}
ul.foo>li{
    flex:1;
    margin-left:34px;
}
ul.foo .first{
    margin-left:0;
}
ul.foo img{
    width:347px;
    height:262px;
    transition: all 0.5s ease-out;
}
main .sidebar p{
    font-size:24px;
    margin:12px 0 46px;
    text-align:center;
    color:#333;
    position:relative;
    transition:all 1s;
}
main .sidebar button{
    width:0;
    border-bottom:2px solid #b3d0dc;
    vertical-align: bottom;
    transition:all 0.5s;
}
.sidebar .left{
    position:absolute;
    left:50px;
    top:17px;
}
.sidebar .right{
    position:absolute;
    right:50px;
    top:17px;
}
main .sidebar li{

}
main .sidebar li:hover p{
    color:rgba(5, 102, 141, 0.56);
}
main .sidebar li:hover button{
    width:57px;
}
main .sidebar li:hover .img,main .sidebar li:hover img{box-shadow: 0 0 20px rgba(58, 57, 57, 0.5);}
main .sidebar .img{
    width:348px;
    height:262px;
    transition: all 0.5s ease-out;
}
/*控制点 re*/
.am-slider-default .am-control-nav {
    width: 100%;
    position: absolute;
    bottom: 20px!important;
    text-align: center;}
.am-slider-default {
    margin: 0 !important;
}
/*sidebar restyle*/
main .restyle{margin-bottom:10px;}
main .sidebar .restyle p{
    font-size:18px;
    margin:10px 0;
    text-align:center;
    color:#333;
}
main .restyle li:hover p{
    color:#333;
}
main .re{margin-top:0;margin-bottom:17px;}


/*footer*/
footer{background: #ededed;padding-bottom: 1px;color:#333;margin-top: -17px;}
footer span{display:inline-block;margin:45px 16px;}
span.contact{

    width:342px;
    position:relative;
    top:-4px;
}
.contact p{font-size:24px;margin-bottom: 20px;}
.contact1 p,.contact2 p{font-size:16px;line-height:30px;margin:0;}
.contact img{
    width:81px;
    height:21px;
    margin-right:20px;
}
span.contact1{

    width:335px;
}
span.contact2{

    width:325px;
}
.blank4{
    height:1px;
    background:#d8e1e4;
    margin-bottom:30px;
}
.copyright{
    margin:28px;
}
footer .copyright p{
    text-align:center;
    padding:6px 0;
	margin:0;
}
.copyright a{color:#333;}
.blank5{height:50px;
    background: #f5f5f5;}
