/*all*/
.am-btn--re{
    padding: 5px 8px;
    font-size: 37px;
    background-color: #f8f8f8;
    margin-top: 10px;
    font-weight: 500;
}
.am-topbar button{border:none;}
.am-btn--re img{
    width:22px;
    height: 20px;}
.am-btn:hover {
    color: #006688;
    text-decoration: none;
}
.vertical-container{
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.am-g {
    margin-top: 0;
    padding-top: 2rem;

}
.am-slider-default{
    box-shadow: 0 0 0;
}
.get-re .am-g {
    padding-top: 0;
}

.detail {
    background: #f5f5f5;

}

.detail-h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #666;
    border: 1px solid #353f72;
    line-height: 60px;
}

.detail_p {
    padding: 0 10px;
    width: 160px;
    font-size: 14px;
    color: #666;
    text-align: center;
    background: #f5f5f5;
    margin: -30px auto 0;

}

.slides_p {
    font-size: 20px;
    color: #028090;
    margin: 18px 0 14px;
    line-height: 20px;
}

.detail-content {

    background: #f5f5f5;
}

.detail-p {
    font-size: 16px;
    color: #666;
    line-height: 26px;
    padding-top: 0;
}
.botton-jion{
    height:56px;
    line-height:56px;
    text-align: center;
    font-size:16px;
    color:#666;
    margin:30px auto 10px;
    background:#f5f5f5 url(../images/矩形.png) no-repeat center;
    background-size:100%;
}

/*同期活动*/
.am-slides {
    background: #f5f5f5;
}

.am-slides p {
    padding: 0 2px;
    font-size: 14px;
    color: #333;
}

.am-slides .slides_p {
    font-size: 20px;
    color: #028090;
    margin: 18px 0 14px;
    line-height: 20px;
}

.am-slider-default .am-control-nav li a {
    background-color: #fff;
    box-shadow: 0 0 0 1px #006699;
}

.am-slider-default .am-control-nav li a.am-active {
    background-color: #006699;
}

/*活动日程*/
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.content {
    display: flex;
    margin: 0 auto;
    padding-bottom: 32px;
}

.content p {
    font-size: 1.5rem;
    color: #009999;
}

.content span {
    font-size: 14px;
    color: #999;
}

.lf {
    text-align: right;
    padding:0;
}


.lf p {
    height:56px;
    margin-top: 5.42rem;
    margin-bottom:5.42rem;
}

.md {
display:flex;

}

.md ul {
    padding-left:0;
    width: 40px;
    margin: 0 auto;
    /* padding: 0 10px; */
    background: url(../images/竖线.png) no-repeat center;
    background-size: 1px 100%;

}

.md li {

    width: 20px;
    height: 20px;
    background: url(../images/日程icon.png) no-repeat;
    background-size: 100%;
    margin: 0.5rem auto 3.42rem;

}
.rg{padding:0;}
.rg p {
    height:56px;
    margin-bottom: 5.42rem;
}

.rg .rg_p--re {
    margin-bottom: 20px;
}

/*参展嘉宾*/
.detail-mb--re {
    padding: 0;
}

.detail-mb--re img {
    width: 100%;
}

.detail-mb--re p {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.detail-mb--re .positions {
    max-width: 85px;
    margin: 0 auto 1.6rem;
    font-size: 10px;
    color:#999;
    -webkit-transform: scale(0.875);
}

.am-g--re {
    padding-top: 0;
}
.am-g--uest {
    padding-top: 2rem;

}


/*新闻报道*/
.detail--news .am-g {
    padding-top: 0;
}

.am-g--head {
    margin-top: 2rem;
}

.detail-mb--news img {
    width: 100%;

}

.detail-mb--news {
    padding: 0;

}
.am-g--p{
    background: #fff;}

.detail-mb--news p {
    padding: 12px 10px 0;
    margin: 0;
    font-size: 12px;
    overflow: hidden;
    text-align: justify;
}

.detail-mb--news .head {

    font-size: 15px;
    color: #666;
    line-height: 24px;
    overflow: hidden;
}

@media only screen and (max-width: 500px) {
    .hidden--re {
        display: none;
    }
    .detail-mb--news p {
        padding: 3px 12px;
    }

}
@media only screen and (width: 375px){
    .detail-mb--news p {
        padding: 20px 12px;
    }
}
@media only screen and (width: 414px){
    .detail-mb--news p {
        padding: 30px 12px;
    }

}
@media only screen and (max-width: 414px){
    #doc-modal-2 form div{
        line-height:1;
    }

}
@media only screen and (width: 320px){
    .detail-mb--news p {
        padding: 3px 12px;
    }
    .detail-mb--news .head--height{
        padding:12px;
    }
}


/*参展企业*/
.detail-mb--rew img {
    width: 80%;

}

/*活动地点*/
.detail-content_p {
    padding: 0 10px;
    width: 190px;
    text-align: center;
    margin: 0 auto;
    background: #f5f5f5;
    font-size: 14px;
}

.detail-content_p--re {
    color: #666;
    margin: 14px auto 10px;
}

/*.am-slider .am-slides img{width:50%;margin:0 auto;}*/
.am-slides .am-slides_p--re {
    font-size: 14px;
    color: #05668d;
    line-height: 25px;
}

.am-slides--re {
    padding-bottom: 32px;
}
.decorate{
    width:20px;
    height:20px;
    position:absolute;
    top:10%;
    z-index: 2;

}
.decorate--right{
    right:15px;
    animation: arrow 1s ease infinite;
}
.decorate--left{
    left:15px;
    animation: arrowRight 1s ease infinite;
}

/*aboout*/
.about {
    background: #fff;
    font-size: 14px;
    line-height: 26px;
    color: #999;

}

.about-color {
    font-size:14px;
    color: #4c4c4c;
    line-height:26px;
    font-weight: 500;
    margin:0;
}
.about p{
    margin:0 auto;
}
.about .about_p--foot{
    margin-bottom:26px;
}
.about .about_p--footer{
    margin-bottom:37px;
}
.footer{
    border-top: rgba(221, 221, 221, 0.6) solid 1px;
}
.footer p {
    color: #7f8c8d;
    margin: 0 10px;
    padding: 15px 0;
    text-align: center;
    background: #fff;
    font-size:12px;
}


.am-gotop-fixed{
    bottom:25px;
}

/*form*/
.am-btn--form{
    display: block;
    width: 100%;
    padding: .5em;
    font-size: 1.6rem;
    line-height: 1.2;
    color: #555;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-radius: 0;
    margin-top:26px;
    background: #f8f8f8;

}
.am-close {
    width: 40px;
    font-size: 40px;
    line-height: 40px;
    font-weight:300;

}
/*jion*/
.jion{position:fixed;bottom:65px;right:10px;font-size:12px;color:#fff;
    }
.jion div{width:30px;height:30px;
    }
.jion .jion--head{width:30px;height:30px;background:rgba(5, 102, 141, 0.6);-webkit-border-radius:50%;  -moz-border-radius:50%;  border-radius:50%;   }
.jion .jion--re{width:30px;height:30px;margin-bottom:10px;position:relative;left:0;transition:left 0.3s ease-in-out 0.1s;background: rgba(5, 102, 141, 0.6);-webkit-border-radius:50%;  -moz-border-radius:50%;  border-radius:50%; }
.jion .jion--rev{left:50px;}

/*animate*/
@keyframes arrow {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    33% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0)
    }

    66% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0)
    }

    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}
@keyframes arrowRight {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0);
        transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0)
    }

    33% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg) translate3d(10px, 0, 0);
        transform: rotate3d(0, 0, 1, 180deg) translate3d(10px, 0, 0)
    }

    66% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg) translate3d(-10px, 0, 0);
        transform: rotate3d(0, 0, 1, 180deg) translate3d(-10px, 0, 0)
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0);
        transform: rotate3d(0, 0, 1, 180deg) translate3d(0, 0, 0)
    }
}