*{margin:0;padding:0;box-sizing:border-box;}
a{text-decoration:none;}
ul,li{list-style: none;}
body{
    font-family: PingFangSC Regular, Hiragino Sans GB, 'Microsoft Yahei', Arial, Helvetica, sans-serif;
    background: #fff;
}
img{vertical-align:middle;}
button{border:none;}
.vertical-container{
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.6rem 0;
    font-weight: 500;
}
.wraped{
    width:1110px;
    margin:0 auto;
}
.wraper{
    background: #f5f5f5;}
.clearfix:after{
    display:block;
    content:'';
    clear:both;
}
.clearfix{
    *zoom:1;
}
.active{
    background: #fafafa;}
/*headBg*/
.headBg {
    background:#ededed;
    height: 30px;
    font-size:13px;
}
.headBg a{color:#333;}
.fr {
    float: right;
}
.head .left,.fr {
    line-height: 30px;

}
.head .left:before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background:url(../images/icon1.png) no-repeat ;
    background-size: cover;
    position: relative;
    top: 2px;
}
.head .sign {
    padding: 0 5px 0 0;
    display: inline-block;
}
.head .sign i {
    width: 13px;
    height: 16px;
    display: inline-block;
    background:url(../images/icon2.png) no-repeat ;
    position: relative;
    top: 2px;
    left: -6px;
}
.head .register {
    padding: 0 10px 0 5px;
}
/*header*/
nav{
    background: #fff;
}
nav .logo{float:left;}
nav ul{float:right;}
nav .list{
    float:left;
}
.logo img{
    margin:19px;
    vertical-align:middle;
}
.nav span{
    display:inline-block;
    padding:0 10px
}
.nav{
    height:90px;
    position:relative;
}
.nav .head{
    height:90px;
    width:101px;
    line-height:90px;
    text-align:center;
    font-size: 16px;
    color: #4c4c4c;
    text-align: center;
}
.nav .head:hover{background: #fafafa;}
.nav ul{
    visibility: hidden;
    position:absolute;
    top:90px;
    z-index:2;
    transition: all 0.5s ease-out;
}
.list:hover ul li{
    visibility: visible;

}
.nav li li{
    height:40px;
    line-height:40px;
    text-align:center;
    background: #fafafa;
    font-size: 14px;
    color: #4c4c4c;
}
.nav li li a{color: #4c4c4c;}
.list ul span{
    min-width:140px;
}
.nav li li:hover a{
    color:#05668d;
    background:#f8f8f8;
}
.nav li li:hover .list>ul>span{}
.nav .last ul{margin-right:-40px;}

/*main*/
/*container*/
main{
    background: #f5f5f5;
    display:flex;
    font-size:16px;
    min-height:1600px;
}
main .container{
    flex:742;
    padding:0 22px;
}
main .sidebar{
    flex:368;
}
main .head1{
    font-size:16px;
    margin:60px 10px 48px;
    color:#aaa;
}
main .head1 a{color:#05668d;}
main .head1 h1{
    display:inline;
    font-size:40px;
}
main .container p{
    font-size:16px;
    color:#666;
    line-height:24px;
    margin-bottom:32px;
}
main h2{
    color:#05668d;
}
main h4{
    font-size:16px;
    margin:0;
    font-weight:600;
    color:#666;
}
main h3{
    font-size: 16px;
    color: #666;
    margin: 16px 0;
}
/*sidebar*/
main .sidebar{
    margin-left:20px;
}
main .sidebar img{
    width:348px;
    height:262px;
    transition: all 0.5s ease-out;
}
main .sidebar p{
    font-size:24px;
    margin:12px 0 46px;
    text-align:center;
    color:#333;
    position:relative;
    transition:all 1s ease-out;
}
main .sidebar button{
    width:0;
    border-bottom:2px solid #b3d0dc;
    vertical-align: bottom;
    transition:all 0.5s ease-out;
}
.sidebar .left{
   position:absolute;
   left:50px;
    top:17px;
}
.sidebar .right{
    position:absolute;
    right:50px;
    top:17px;
}
main .sidebar li{

}
main .sidebar li:hover p{
    color:rgba(5, 102, 141, 0.56);
}
main .sidebar li:hover button{
    width:57px;



}
main .sidebar li:hover img{box-shadow: 0 0 20px rgba(58, 57, 57, 0.5);}
/*form*/
form input[type="text"]{
    border: 1px solid #ccc;
    width: 317px;
    height: 40px;
    color: #666;
    font-size:25px;
    padding:0 10px;
}
form [type="text"]:focus {
    background-color: #fefffe;
    border-color: #3bb4f2;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(59, 180, 242, .3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 5px rgba(59, 180, 242, .3);
}
form .btn{
    width: 158.5px;
    height: 40px;
    background: #05668d;
    color: #fff;
    margin-top: 25px;
    border: none;
    font-size: 18px;
}
form .btn:hover{
    background:rgba(5, 102, 141, 0.8);
}
form input[type="radio"]{
    display:inline-block;
    width:16px;
    height:16px;
    margin:0 10px 0 3px;
}
/*program*/
main .list1{
    display:flex;
    position:relative;
}
.list1 .order{
    flex:1;
    margin-right:10px;
    margin-left: -18px;
}
.list1 .content{
    flex:50;
}
.order button{
    display:block;
    width:36px;
    height:36px;
    font-size:18px;
    color:#fff;
    margin-bottom:43px;
    z-index: 2;

}
.list1 .line{
     width:1px;
     height:350px;
     background: -webkit-linear-gradient(top,#659fb7 , #05668d);
 }
.list1 .first{
    background: #659fb7;}
.list1 .second{
    background: #4d91ac;}
.list1 .third{
    background: #3583a2;}
.list1 .fourth{
    background: #1d7497;}
.list1 .fifth{
    background: #05668d;}
/*table*/
.charge-wrap {
    font-size: 18px;
    padding-top:6px;
}
.main .main-cont div {
    padding-top: 30px;
}
table {
    border-collapse: collapse;
    font-size: 16px;
     margin-bottom:50px;
     color:#666;
}
table th,td {
    border: 1px solid #424242;
    text-align: center;
}
table td span {
    line-height: 50px;
}
/*previousReport*/
.foo1 a{color:#05668d;}
.foo1 a:hover{color:#666;}
.foo1{display:flex;}
.foo1 .sidebar1{flex:1;padding:10px;}
/*sidebar2*/
.foo3{margin-bottom:40px;}
.sidebar2 img{
    width:277px;
    height:185px;
    opacity:0;
    transition:all 1s;
}
.foo3,.sidebar2>ul{display:flex;}
.foo3 .sidebar1{
    flex:1;
    background: #05668d;
    font-size:24px;
}
.foo3 .re{
    background: #028090;}
.foo3 .sidebar2{flex:3;}
.sidebar2 li:hover img{
    opacity:0.9;
}
.sidebar2 li{
    flex:1;

}
.sidebar2 li.pic1{background: url(../images/kaifa1.jpg) no-repeat;}
.sidebar2 li.pic2{background: url(../images/kaifa2.jpg) no-repeat;}
.sidebar2 li.pic3{background: url(../images/kaifa3.jpg) no-repeat;}
.sidebar2 li.pic4{background: url(../images/kaifa4.jpg) no-repeat;}
.sidebar2 li.pic5{background: url(../images/kaifa5.jpg) no-repeat;}
.sidebar2 li.pic6{background: url(../images/kaifa6.jpg) no-repeat;}

.sidebar2 li.pic11{background: url(../images/kaifa11.jpg) no-repeat;}
.sidebar2 li.pic12{background: url(../images/kaifa12.jpg) no-repeat;}
.sidebar2 li.pic13{background: url(../images/kaifa13.jpg) no-repeat;}
.sidebar2 li.pic14{background: url(../images/kaifa14.jpg) no-repeat;}
.sidebar2 li.pic15{background: url(../images/kaifa15.jpg) no-repeat;}
.sidebar2 li.pic16{background: url(../images/kaifa16.jpg) no-repeat;}

/*footer*/
footer{background: #ededed;padding-bottom: 1px;color:#333;}
footer span{display:inline-block;margin:45px 16px;}
span.contact{

    width:342px;
    position:relative;
    top:-4px;
}
.contact p{font-size:24px;margin-bottom: 20px;}
.contact1 p,.contact2 p{font-size:16px;line-height:30px;}
.contact img{
    width:81px;
    height:21px;
    margin-right:20px;
}
span.contact1{

    width:335px;
}
span.contact2{

    width:325px;
}
.blank4{
    height:1px;
    background:#d8e1e4;
    margin:30px 0;
}
.copyright{
    margin:28px;
}
footer .copyright p{
    text-align:center;
    padding:6px 0;
}
