<!DOCTYPE html>
<html lang="zh-CN" style="opacity: 0;">
	<head>
		<meta charset="utf-8">
		<title>第一电动网-经销商权益</title>
		<meta name="keywords" content="2017第一电动网经销商服务权益">
		<meta name="description" content="2017第一电动网经销商服务权益">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="renderer" content="webkit">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="wap-font-scale" content="no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
		<meta name="apple-mobile-web-app-title" content="">
	    <link rel="stylesheet" href="../../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/comm.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/detail/distributor.css"/>
		<script src="../../js/jquery2.1.4.min.js" type="text/javascript"></script>
		<script src="../../js/headroom.js"></script>
	</head>
	<body>
		<div id="content" class="content">
			<img src="../../img/distributor_1.png"/>
			<img src="../../img/distributor_2.png"/>
			<img src="../../img/distributor_3.png"/>
			<img src="../../img/distributor_4.png"/>
			<img src="../../img/distributor_5.png"/>
		</div>
		<div class="fixBot">
			<a href="http://d1evqiye.mikecrm.com/umWaxYe">经销商报名</a>
		</div>
		<div class="rightBtn">
			权<br>益<br>说<br>明
		</div>
		<div class="rightTc" id="rightTc">
			<div class="rightTcCon" id="rightTcCon">
				<div class="topTitleCon">
					<!--<div class="topTitle">
						<p>权益说明</p>
					</div>-->
					<span class="closeBtn"></span>
					<img src="../../img/distributor_title.jpg" class="imgTitle"/>
				</div>
				<div class="context">
					<span>一、预付款</span>	
					<p>1.合同标的给付给第一电动网的预存款，作为预付款形态存在，可以申请进行预付款退还。<br/>
2.退还时，已经执行过的费用需要扣除。</p>
					<span>二、年费</span>
					<p>
1.自合同生效开始，合同年定义某个日期一次性扣除的服务费用，不可退还。<br />
2.年费权益部分全部包含，不单独收费，一旦退还也能继续享有权益到年度结束。</p>
					<span>三、销量预计</span>
					<p>根据第一电动网的传播和集客能力，我们预计可为每位经销商提升的销售台数。</p>
					<span>四、购车报名线索</span>
					<p>
1.同城近72小时内优质筛选后的报名线索，包含询价和试驾、贷款咨询等所有整车售卖来源。<br />
2.按约定周期和数量提供，姓名+电话+车系+重要客情备注。<br />
3.支持额外购买。</p>
					<span>五、购车即时订单</span>
					<p>
1.用户在同城24小时内在我方填写的完整购车订单方案。<br />
2.由我方服务顾问直接分单给经销商将客人引入到店。<br />
3.支持额外购买。</p>
					<span>六、PC 、WAP广告位</span>
					<p>第一电动网PC站、Wap站等传播途径上的硬广位置（根据刊例位置任选，但不可同时，可额外付费添加露出位置和时间）通栏。</p>
					<span>七、APP广告位</span>
					<p>第一电动网APP传播途径上的硬广位置（根据刊例位置任选，但不可同时，可额外付费添加露出位置和时间）。</p>
					<span>八、自媒体广告软广</span>
					<p>第一电动网自媒体等传播途径上的软广位置（根据刊例位置任选，但不可同时，可额外付费添加露出位置和时间）。</p>
					<span>九、大数据展示</span>
					<p>在LBS服务下应用大数据时，露出店面信息。</p>
					<span>十、大数据报告</span>
					<p>
1.基于用户数据画像仓库和分析算法，为店面每季度提供一份数据报告指导销售及店面经营策略。<br />
2.报告涵盖：地区、品牌、车系车型、活动效果、集客方式、客人画像等十大维度。</p>
					<span>十一、SEO</span>
					<p>根据搜索引擎排名逻辑，为经销商以及车企的露出效果进行SEO优化。</p>
					<span>十二、经销商排名</span>
					<p>所有线上产品露出经销商信息时，优先露出在前三名或首页，并给予推荐标识效果。</p>
					<span>十三、竞品车系</span>
					<p>在线上产品的车系页时，出现竞品车系的推荐露出。</p>
					<span>十四、车型VR全景图</span>
					<p>采用3D全景成像VR技术对车的外观内饰精细化展示，并配以详细的做工用料描述解释，让用户足不出户在线看车。可为经销商在全景内露出相应信息作为宣传，让用户在产生购车需求时第一时间想到你。</p>
					<span>十五、用户嘉年华活动</span>
					<p>
1.由第一电动主办的每年多场大型室内外用户嘉年华活动，现场包含多品牌试乘试驾、团购会、现场游艺、小吃、表演、网红直播。<br />
2.第一电动网负责本次活动500组以上的用户招募，保证1000人以上到场参与。</p>
					<span>十六、EV英雄会活动</span>
					<p>由第一电动网主办并招募专业车手或kol，由车企或经销商提供车辆及费用赞助，第一电动网策划并全程进行一场异地长途电动车旅行，过程中配有车身广告、物料广告、文章、视频、直播等宣传方式。</p>
					<span>十七、电车去哪儿玩活动</span>
					<p style="padding-bottom: 0.1rem;">由第一电动网主办并负责招募C端用户，同时策划活动全程并执行过程，让用户体验着电动车出行的便捷与乐趣，即可转化会购买意向用户又可以为自己做店面宣传。</p>
					<p style="text-align: center;padding-top: 0.1rem;">最终解释权归第一电动网所有</p>
				</div>
			</div>
		</div>
	</body>
	<script src="../../js/common.js"></script>
	<script async="async" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript">
		$(function () {
			$('.rightBtn').click(function(){
				console.log('1111');
				$('#rightTcCon').addClass('rightTcCon');
				$('#rightTcCon').removeClass('rightTcCon2');
				setTimeout(function(){
					$('#rightTc').show();
					$('.context').css('height',document.documentElement.clientHeight-51);
					console.log($('.context').css('height'));
					$('body').css('position','fixed');
				},500);
			});
			$('.closeBtn').click(function(){
				$('#rightTcCon').addClass('rightTcCon2');
				$('#rightTcCon').removeClass('rightTcCon');
				setTimeout(function(){
					$('#rightTc').hide();
					$("body").css({"position":"relative"});
					$('body').css('overflow-y','auto');
				},500);
			});
			$('#rightTc').click(function(){
				$('#rightTcCon').addClass('rightTcCon2');
				$('#rightTcCon').removeClass('rightTcCon');
				setTimeout(function(){
					$('#rightTc').hide();
					$("body").css({"position":"relative"});
					$('body').css('overflow-y','auto');
				},500);
			});
			$("#rightTc").on('click',"#rightTcCon",function(e){
				e.stopPropagation();
			})
			$("#rightTc").on('click',"p",function(e){
				e.stopPropagation();
			})
			$("#rightTc").on('click',"span",function(e){
				e.stopPropagation();
			});
		});
        $.ajax({
            url: window.location.origin + '/upload/file/jssdk_signpackage',
            type: 'POST',
            dataType: 'json',
            data: {'share_url': window.location.href},
            success: function ($data){
                if ($data.appId != undefined){
                    var shareData = {
                        title: '经销商权益',
                        desc: '2017第一电动网经销商服务权益',
                        link: $data.url,
                        imgUrl: window.location.origin + '/src/common/public/images/logo-app.jpg'
                    };
                    wx.config({
                        debug: false,
                        appId: $data.appId,
                        timestamp: $data.timestamp,
                        nonceStr: $data.nonceStr,
                        signature: $data.signature,
                        jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone']
                    });
                    wx.ready(function () {
                        wx.onMenuShareTimeline(shareData);
                        wx.onMenuShareAppMessage(shareData);
                        wx.onMenuShareQQ(shareData);
                        wx.onMenuShareWeibo(shareData);
                        wx.onMenuShareQZone(shareData);
                    });
                }
            }
        });

	</script>
	<div id="footer-analysis-3rd" style="display: none;">
		<script type="text/javascript" src="../../js/analysis.3rd.js"></script>
	</div>
</html>