<!DOCTYPE html>
<html lang="zh-cmn-Hans" style="opacity: 0;">
	<head>
		<meta charset="utf-8">
        <title>2017未来汽车开发者大会-第一电动网</title>
        <meta name="keywords" content="2017未来汽车开发者大会,未来汽车开发者大会,未来汽车大会">
        <meta name="description" content="2017未来汽车开发者大会将在上海新国际博览中心开幕，一群聚集未来汽车的定义者们，在这里推动未来，我们希望为汽车工程师、汽车相关专业师生、汽车发烧友、创业公司提供展示才华与实现梦想的平台，真正参与到这场变革，共同推进重新定义汽车进程。">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="email=no" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="renderer" content="webkit">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="wap-font-scale" content="no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <script type="text/javascript" src="../../js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="../../js/wlh.js"></script>
        <script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
        <meta name="apple-mobile-web-app-title" content="">
        <link rel="stylesheet" type="text/css" href="../../css/comm.css?r=" />
        <link rel="stylesheet" type="text/css" href="../../css/detail/future-conference.css" />
        <script src="../../js/jquery.min.js" type="text/javascript"></script>
		<script src="../../js/headroom.js"></script>
	</head>
	<body>
		<div class="futureMenuTc">
			<div class="futureMenuCon">
				<a href="#c_background">大会背景</a>
				<a href="#c_guest">拟邀嘉宾</a>
				<a href="#c_review">评审机构</a>
				<a href="#c_plan">奖励计划</a>
				<a href="#c_direction">项目方向</a>
				<a href="#c_signUp">活动报名</a>
				<a href="#c_process">路演流程</a>
				<a href="#c_agenda">大会议程</a>
				<a href="#c_loc">大会地址</a>
				<a href="#c_contact">联系我们</a>
			</div>
		</div>
		<div class="futureTop" id='futureTop' style="background-image: url(../../img/future_1.jpg);">
			<a href="/"></a>
			<span class="futureMenuBtn" id="futureMenuBtn" style="background-image: url(../../img/menu-btn.png);"></span>
		</div>
		<div class="rightMenu">
			<a href="http://weitianren.wicp.net:13263/register2.aspx" class="rightSign"></a>
			<a href="javascrpt:;" class="gotop" id="gotop"></a>
		</div>
		<div id="content" class="content">
			<img src="../../img/future_2.jpg"/>
			<a href="javascript:;" name="c_background"></a>
			<img src="../../img/future_3.jpg"/>
			<a href="javascript:;" name="c_guest"></a>
			<img src="../../img/future_4.jpg"/>
			<img src="../../img/future_5.jpg"/>
			
			<a href="javascript:;" name="c_review"></a>
			<img src="../../img/future_6.jpg"/>
			<a href="javascript:;" name="c_plan"></a>
			<img src="../../img/future_7.jpg"/>
			
			<img src="../../img/future_8.jpg"/>
			<a href="javascript:;" name="c_direction"></a>
			<img src="../../img/future_9.jpg"/>
			<a href="javascript:;" name="c_signUp"></a>
			<div class="future_10_div">
				<a href="http://weitianren.wicp.net:13263/register2.aspx" style="background-color: #ff0031;">观众报名</a>
				<a href="developerPlan-project-apply.html" style="background-color: #824bff;">路演项目报名</a>
				<a href="developerPlan-investor-apply.html" style="background-color: #00d6ff;">投资人报名</a>
			</div>
			<a href="javascript:;" name="c_process"></a>
			<img src="../../img/future_11.jpg"/>
			<a href="javascript:;" name="c_agenda"></a>
			<img src="../../img/future_12_1.jpg"/><img src="../../img/future_12_2.jpg"/><img src="../../img/future_12_3.jpg"/>
			<a href="javascript:;" name="c_loc"></a>
			<img src="../../img/future_14.jpg"/>
			<!--tab-->
			<div class="routeTab">
				<div class="tabs">
				  	<span class="on" ></span> 
				  	<span></span> 
				  	<span></span>
				</div>
 				<div class="tabCon">
 					<img src="../../img/future_boder.png"/>
	  				<div class="tabList" style="display: block;">
				   		<h3>浦东国际机场 — 上海新国际博览中心</h3>
				   		<p>出租车：距离33公里；约35分钟，车费约95元;<br />
						磁浮列车：仅8分钟；单程50元（如出示机票，单程40元）；往返80元；<br />
						机场三线、机场六线：约40分钟；车费16元；<br />
						地铁：乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约40分钟；车费4元。</p>
				   		<h3>虹桥机场—上海新国际博览中心</h3>
						<p>出租车：距离32公里；约35分钟，车费约95元；<br />
						地铁：乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约50分钟，车费6元</p>
	  				</div>
	  				<div class="tabList">
				   		<h3>上海火车站—上海新国际博览中心</h3>
				   		<p>出租车：相距16公里；车费约45元；<br />
地铁：可乘1号线到人民广场站，换乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约35分钟；车费4元。</p>
				   		<h3>上海南站—上海新国际博览中心</h3>
				   		<p>出租车：相距20公里；车费约55元；<br />
地铁：可乘1号线到人民广场站，换乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约45分钟；车费5元。</p>
<h3>上海虹桥火车站—上海新国际博览中心</h3>
				   		<p>出租车：相距35公里；车费约100元；<br />
地铁：乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约50分钟；车费6元。</p>
	  				</div>
	  				<div class="tabList">
				   		<p style="padding-top: 3px;">上海新国际博览中心位于龙阳路、罗山路交汇处，易于通行。从市中心横跨南浦大桥、杨浦大桥可直达。
停车位：上海新国际博览中心共有4603个车位供客人泊车。停车费：每小时5元，单日40元封顶，此费率适用于小轿车或其它轻型车辆。</p>
	  				</div>
 				</div>
			</div>
			<a href="javascript:;" name="c_contact"></a>
			<!--<img src="../../img/future_16.jpg"/>-->
			<ul class="futureContactCon">
				<li>
					<span>投资人、创业者咨询</span>
					<p>联系人：孙琪深</p>
					<a href="tel:13248314817">电话：13248314817</a>
					<p>Email：sunqishen@d1ev.com</p>
				</li>
				<li>
					<span>赞助咨询</span>
					<p>联系人：景思文</p>
					<a href="tel:18810796694">电话：18810796694</a>
					<p>Email：jingsiwen@d1ev.com</p>
				</li>
				
				<li>
					<span>嘉宾咨询</span>
					<p>联系人：叶然</p>
					<a href="tel:13716793530">电话：13716793530</a>
					<p>Email：yeran@d1ev.com</p>
				</li>
				<li>
					<span>媒体合作</span>
					<p>联系人：杜三元</p>
					<a href="tel:13522770975">电话：13522770975</a>
					<p>Email：duxue@d1ev.com</p>
				</li>
			</ul>
		</div>
	</body>
	<script src="../../js/common.js"></script>
	<script async="async" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript">
		$(function () {
			$("#gotop").hide();
        	$(window).scroll();
		    $(".futureTop").headroom({
		        tolerance: 5,
		        offset: 205,
		        classes: {
		            initial: "animated",
		            pinned: "fadeInDown",
		            unpinned: "fadeOutUp"
		        }
		    });
			$('#futureMenuBtn').click(function(){
				if($(this).hasClass('show')){
					$(this).removeClass('show');
					$('.futureMenuTc').slideUp();
					$(".content").css({"position":"relative"});
					$('body').css('overflow-y','auto');
				}else{
					$(this).addClass('show');
					$('.futureMenuTc').slideDown();
					$(".content").css({"position":"relative","top":0});
					$('body').css('overflow','hidden');
				}
			});
			$(".futureMenuTc").on('click',"a",function(e){
				e.stopPropagation();
				$(this).addClass('on').siblings('span').removeClass('on');
				$('#futureMenuBtn').removeClass('show');
				$('.futureMenuTc').slideUp();
				$(".content").css({"position":"relative"});
				$('body').css('overflow-y','auto');
		    })
			$('.futureMenuTc').click(function(){
				$('#futureMenuBtn').removeClass('show');
				$('.carSelectTc').slideUp();
				$(".content").css({"position":"relative"});
				$('body').css('overflow-y','auto');
			})
			
		 	$('.routeTab .tabs span').each(function(index,obj){
		 		obj.index=index;
		 		//$(obj).css('background-image','url(../../img/tab_'+this.index+'_active.png);')
		    	$(obj).click(function(){
		     		$(window).scroll();
		     		$(this).addClass('on').siblings('span').removeClass('on');
		     		$('.tabCon .tabList').stop().hide().eq(this.index).stop().fadeIn(300);
		    	})
		   });
		});
		$(window).scroll(function(){
	        if ($(window).scrollTop()>800){
	            $("#gotop").fadeIn(500);
	        }
	        else
	        {
	            $("#gotop").fadeOut(100);
	        }
	    });
	    $('#gotop').click(function(){
	        $("html, body").animate({
	              scrollTop: 0
	        });
	    });
        $.ajax({
            url: window.location.origin + '/upload/file/jssdk_signpackage',
            type: 'POST',
            dataType: 'json',
            data: {'share_url': window.location.href},
            success: function ($data){
                if ($data.appId != undefined){
                    var shareData = {
                        title: '2017未来汽车开发者大会',
                        desc: '2017未来汽车开发者大会将在上海新国际博览中心开幕，一群聚集未来汽车的定义者们，在这里推动未来，我们希望为汽车工程师、汽车相关专业师生、汽车发烧友、创业公司提供展示才华与实现梦想的平台，真正参与到这场变革，共同推进重新定义汽车进程。',
                        link: $data.url,
                        imgUrl: window.location.origin + '/src/common/public/images/logo-app.jpg'
                    };
                    wx.config({
                        debug: false,
                        appId: $data.appId,
                        timestamp: $data.timestamp,
                        nonceStr: $data.nonceStr,
                        signature: $data.signature,
                        jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone']
                    });
                    wx.ready(function () {
                        wx.onMenuShareTimeline(shareData);
                        wx.onMenuShareAppMessage(shareData);
                        wx.onMenuShareQQ(shareData);
                        wx.onMenuShareWeibo(shareData);
                        wx.onMenuShareQZone(shareData);
                    });
                }
            }
        });

	</script>
	<div id="footer-analysis-3rd" style="display: none;">
        <script type="text/javascript" src="../../js/analysis.3rd.js"></script>
    </div>
</html>