<!DOCTYPE html>
<html lang="zh-cmn-Hans" style="opacity: 0;">
	<head>
        <meta charset="utf-8">
        <title>2017未来汽车开发者大会-投资人报名-第一电动网</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="email=no" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="renderer" content="webkit">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="wap-font-scale" content="no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <script type="text/javascript">
            window.location.href = "https://jinshuju.net/f/mOJGo8";
        </script>
        <script type="text/javascript" src="../../js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="../../js/wlh.js"></script>
        <script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
        <meta name="apple-mobile-web-app-title" content="">
        <link rel="stylesheet" type="text/css" href="../../css/comm.css" />
        <link rel="stylesheet" type="text/css" href="../../css/detail/apply.css" />
        <script src="../../js/jquery.min.js" type="text/javascript"></script>
	</head>
	<body>
		<div id="content" class="content">
			<div class="errTip" style="display: none;">
				格式错误
			</div>
			<div class="navWrap">
				<div class="commonTitle">
					<a href="" class="isLink" id="isLink">
						<img src="../../img/navArrow.png"/>
					</a>
					<span id="isTxt">投资人报名</span>
				</div>
			</div>
			<div class="navPlace"></div>
			<div class="applyForm">
				<input class="nameInput" type="text" name=""  value="" placeholder="联系人" maxlength='6' />
				<input class="phoneInput" id="phoneInput" placeholder="手机号" type="number" maxlength='11' pattern="[0-9]*" />
				<input class="emailInput" type="email" name=""  value="" placeholder="邮箱"/>
				<input class="companyInput" type="text" name=""  value="" placeholder="投资方" maxlength='64' />
				<input class="positionInput" type="text" name=""  value="" placeholder="职务" maxlength='32' />
				<input type="submit" class="submitBtn" id="submitBtn" value="提交" />
			</div>
		</div>
	</body>
	<script src="../../js/common.js"></script>
	<script type="text/javascript">
		$(function () {
        	document.getElementById("isLink").addEventListener('click',function(ev){
				ev.preventDefault();
				document.referrer == '' ?window.location.href = 'developerPlan.html' :window.history.go(-1);
			},false)
        	var nameVal=$('.nameInput').val();
        	var telVal=$('.phoneInput').val();
        	var emailVal=$('.emailInput').val();
        	var companyVal=$('.companyInput').val();
        	var positionVal=$('.positionInput').val();
        	var testphone=/^1[1-9]{1}\d{9}$/;
        	var testEmail=/^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/;
        	$(".nameInput").on("input",function(){
				nameVal=this.value;
			});
			$(".phoneInput").on("input",function(){
				telVal=this.value;
				var maxChars1 =11;
			    if (telVal.length > maxChars1){
			       this.value = this.value.substring(0,maxChars1);
			       telVal=this.value;
			    }
			});
			$(".emailInput").on("input",function(){
				emailVal=this.value;
			});
			$(".companyInput").on("input",function(){
				companyVal=this.value;
				var maxChars1 =20;
			    if (companyVal.length > maxChars1){
			       this.value = this.value.substring(0,maxChars1);
			       companyVal=this.value;
			    }
			});
			$(".positionInput").on("input",function(){
				positionVal=this.value;
				var maxChars1 =10;
			    if (positionVal.length > maxChars1){
			       this.value = this.value.substring(0,maxChars1);
			       positionVal=this.value;
			    }
			});
        	function checkValue(){
				if(nameVal==''){
					$('.errTip').html('请输入联系人')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(nameVal.length>6||nameVal.length<2){
					$('.errTip').html(' 请输入2-6个字以内联系人姓名')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(telVal==''){
					$('.errTip').html('请输入手机号')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(!testphone.test(telVal)){
					$('.errTip').html('请输入11位手机号，只能是数字')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(emailVal==''){
					$('.errTip').html('请输入邮箱')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(!testEmail.test(emailVal)){
					$('.errTip').html('请输入正确格式的邮箱')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(companyVal==''){
					$('.errTip').html('请输入投资方名称')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(companyVal.length>20||companyVal.length<2){
					$('.errTip').html(' 请输入2-20个字以内的投资方')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(positionVal==''){
					$('.errTip').html('请输入职务')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				if(positionVal.length>10||positionVal.length<2){
					$('.errTip').html(' 请输入2-10个字以内的职务')
					$('.errTip').slideDown();
        			setTimeout(function(){
						$('.errTip').slideUp();
					},2000)
					return false;
				}
				$.ajax({
					url: 'http://www.d1ev.com/contents/baoming/formsubmit',
					type: 'post',
					data: {
						'type':2,
						'istel':1,
						'realname':nameVal,
						'tel':telVal,
						'email':emailVal,
						'company':companyVal,
						'position':positionVal
					},
					async:false,
					success: function(data) {
						console.log(data);
						if (data.errcode>0) {
							console.log(data.errcode);
							$('.errTip').html(data.errmsg);
							$('.errTip').slideDown();
		        			setTimeout(function(){
								$('.errTip').slideUp();
							},2000)
						}else {
							setTimeout(function(){
								//console.log('tj成功');
								$('body').css('overflow','hidden');
					   			confirm("报名提交成功！",["知道了"],function(){
									$('body').css('overflow','auto');
									window.location.href='developerPlan.html';
								},function(){
									$('body').css('overflowY','auto');
								})
							},500);
						}
					},
					dataType: 'json'
				});
			}
			$('#submitBtn').click(function(){
				checkValue();
			});
        	
		});
	   
	</script>
	<div id="footer-analysis-3rd" style="display: none;">
        <script type="text/javascript" src="../../js/analysis.3rd.js"></script>
    </div>
</html>