<!DOCTYPE html>
<html lang="zh-cmn-Hans" style="opacity: 0;">
	<head>
		<meta charset="utf-8">
        <title>2017全球新能源汽车大会未来汽车展（GNEV EXPO）-第一电动网</title>
        <meta name="keywords" content="未来汽车展,GNEV EXPO,未来汽车开发者大会,未来10年新能源汽车,未来新能源品牌汽车,上海未来新能源汽车,未来新能源汽车发展趋势,未来电动汽车续航">
        <meta name="description" content="2017全球新能源汽车大会未来汽车展（GNEVEXPO）将于8月3日-5日于上海新国际博览中心举办，展会包括未来10年新能源品牌汽车,包括吉利、北汽、江淮、奇瑞、长江、特来电、时空电动、电咖、御捷、知豆等未来汽车车型或产品,展会还将围绕新能源电动汽车未来前景和发展趋势展开探讨.">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="format-detection" content="email=no" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="renderer" content="webkit">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="wap-font-scale" content="no" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
        <script type="text/javascript" src="../../js/mobile-detect.min.js"></script>
        <script type="text/javascript" src="../../js/wlh.js"></script>
        <script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
        <meta name="apple-mobile-web-app-title" content="">
        <link rel="stylesheet" href="../../css/swiper.min.css">
        <link rel="stylesheet" type="text/css" href="../../css/comm.css" />
        <link rel="stylesheet" type="text/css" href="../../css/detail/exhibition.css" />
        <script src="../../js/jquery.min.js" type="text/javascript"></script>
        <script src="../../js/headroom.js"></script>
	</head>
	<body>
		<div class="futureMenuTc">
			<div class="futureMenuCon">
				<a href="#c_intro">展会介绍</a>
				<a href="#c_act">同期活动</a>
				<a href="#c_apply">活动报名</a>
				<a href="#c_schedule">展会日程</a>
				<a href="#c_guest">参展嘉宾</a>
				<a href="#c_company">合作企业</a>
				<a href="#c_media">合作媒体</a>
				<a href="#c_place">活动地点</a>
			</div>
		</div>
		<div class="futureTop" id='futureTop'>
			<a href="/"><img src="../../img/exhibition_1.jpg"/></a>
			<span class="futureMenuBtn" id='futureMenuBtn' style="background-image: url(../../img/exhibition_2.jpg);"></span>
		</div>
		<div class="rightMenu">
			<a href="http://weitianren.wicp.net:13263/register2.aspx" class="rightSign"></a>
			<a href="javascrpt:;" class="gotop" id="gotop"></a>
		</div>
		<div id="content" class="content">
			<div class="exhibitionTop">	
				<a href="javascript:;" name="c_intro"></a>
				<div class="swiper-container bannerArea">
			       <div class="swiper-wrapper">
			            <div class="swiper-slide">
			            	<img src="../../img/exhibition_3.png"/>
			            </div>
			        </div>
			         <!--<div class="swiper-pagination"></div>-->
			    </div>
			    <div class="exhibitionTxtCon">
			    	从材料，到零部件，到整车，到充电建设运营企业，到出行运营公司，全产业链优质企业联袂参展，预计届时将有超过20000名专业观众参观，500家经销商和大客户构成的买家团集中采购，300家媒体机构到场报道。GNEV EXPO让交易、宣传更加便捷。
			    </div>
			</div>
			<div class="companyes" style="margin-top:0.8rem;">
				<img src="../../img/companyes.png" alt="">
			</div>
			<a href="javascript:;" name="c_act"></a>
			<div class="exhibitionActCon1">
				<img src="../../img/exhibition_act.png" class="imgTitle"/>
				<div class="swiper-container2">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide" style="">
			            	<a href="javascript:;" class="listBox">
								<i class="imgTop" style="background-image: url(../../img/exhibition_5_1.png);"></i>
								<span>2017未来汽车开发者大会</span>
								<p>未来汽车开发者大会是汽车变革者与创新者的最佳舞台，华夏幸福携手麦肯锡、第一电动，发布全球未来汽车技术地图。在这里将遴选智能化、电动化、轻量化和共享化的优秀创新创业项目进行路演，与产业界和投资界对接。在这里有可触碰的未来，行业的变革由我们共同见证。</p>
							</a>
			            </div>
			            <div class="swiper-slide" style="">
			            	<a href="javascript:;" class="listBox">
								<i class="imgTop" style="background-image: url(../../img/exhibition_5_6.png);"></i>
								<span>2017未来出行论坛</span>
								<p>网约车、P2P、分时租赁，10大电动汽车运营企业高层共探行业未来。罗兰贝格携手第一电动深度解析汽车共享市场分析报告。</p>
							</a>
			            </div>
			            <div class="swiper-slide" style="">
			            	<a href="javascript:;" class="listBox">
								<i class="imgTop" style="background-image: url(../../img/exhibition_5_3.png);"></i>
								<span>企业专场推介会</span>
								<p>企业专场推介会招募25家有实力、有创新、有需求的企业，现场解读企业及产品力，对接供需需求，拉近企业与用户的距离，直面互动沟通。为新技术、新企业、新产品提供面向产业的专场推介舞台。</p>
							</a>
			            </div>
			            <div class="swiper-slide" style="">
			            	<a href="javascript:;" class="listBox">
								<i class="imgTop" style="background-image: url(../../img/exhibition_5_5.png);"></i>
								<span>未来汽车嘉年华</span>
								<p>千万礼品疯狂趴！一大波礼品来袭！新能源汽车五折开回家！送新能源汽车五年使用权！</p>
							</a>
			            </div>
			        </div>
			        <!-- Add Pagination -->
			        <div class="swiper-pagination2"></div>
			    </div>
			</div>
			<a href="javascript:;" name="c_apply"></a>
			<div class="exhibitionApplyCon">
				<img src="../../img/exhibition_apply.png" class="imgTitle"/>
				<a href="http://weitianren.wicp.net:13263/register2.aspx" class="applyRow">
					<i style="background-image: url(../../img/exhibition_14.png);"></i>
					<span>观众报名</span>
				</a>
				<a href="exhibition-join-apply.html" class="applyRow">
					<i style="background-image: url(../../img/exhibition_15.png);" class="applyI"></i>
					<span>展商报名</span>
				</a>
				<a href="manual/zhanshang.pdf" target="_blank" class="downloadFile">下载展商手册</a>
				<a href="javascript:;" class="downloadFile nofile">下载观展指南</a>
			</div>
			<a href="javascript:;" name="c_schedule"></a>
			<div class="exScheduleCon">
				<img src="../../img/exhibition_schedule.png" class="imgTitle"/>
				<h3>2017全球新能源汽车大会未来汽车展</h3>
				<div class="scheduleRow">
					<p>
						<i></i>
						<span>8月3日 09:00</span>
					</p>
					<span class="span1">全球新能源汽车大会未来汽车展开幕</span>
				</div>
				<div class="scheduleRow" style="border-bottom: 1px solid #e3e3e3;">
					<p>
						<i></i>
						<span>8月3日 09:30-12:00</span>
					</p>
					<span class="span1">2017未来汽车开发者大会-主题论坛：重新定义汽车·重新定义出行</span>
				</div>
				<ul class="scheduleList">
					<li>
						<p>
							<i></i>
							<span>8月3日 09:35-09:45</span>
						</p>
						<span class="span1">开幕致辞</span>
						<br>
						<span class="span1">智电互动科技董事长<br>庞义成</span>
						<br>
						<span class="span1">上海嘉定区安亭镇安亭镇党委副书记、镇长<br>董爱华</span>
					</li>
					<li>
						<p>
							<i></i>
							<span>8月3日 09:55-11:15</span>
						</p>
						<span class="span1">主题演讲</span>
						<br>
						<span class="span1">麦肯锡全球董事合伙人 -- Dominik Luczak<br>未来汽车全球技术地图发布</span>
						<br>
						<span class="span1">蔚来汽车联合创始人、执行副总裁 -- 郑显聪 <br>蔚来如何定义未来？</span>
						<br>
						<span class="span1">北汽新能源营销公司总经理 -- 张勇 <br>打造中国汽车的世界名片</span>
						<br>
						<span class="span1">爱驰亿维联合创始人&CEO -- 谷峰 <br>互联网思维如何实现与产业链融合落地</span>
						<br>
						<span class="span1">FMC联合创始人、CEO -- 毕福康 <br>智能汽车如何实现个性化愉悦出行</span>
					</li>
					<li>
						<p>
							<i></i>
							<span>8月3日 11:15-12:00</span>
						</p>

						<span class="span1"> 沙龙对话 - 颠覆共赢，未来汽车的战略图景</span>
						<br>
						<span class="span1">奇瑞新能源总经理 -- 高立新</span>
						<br>
						<span class="span1">吉利新能源汽车销售公司总经理 -- 李岩松</span>
						<br>
						<span class="span1">云度新能源常务副总、营销总经理 -- 林密</span>
						<br>
						<span class="span1">奇点汽车创始人 -- 沈海寅</span>
						<br>
						<span class="span1">江淮乘用车营销公司副总经理 -- 汪光玉</span>
						<br>
						<span class="span1">御捷集团CEO -- 张磊</span>
						<br>
						<span class="span1">地平线机器人创始人 -- 余凯</span>
					</li>

				</ul>
				<div class="scheduleRow">
					<p>
						<i></i>
						<span>8月3日 09:30-12:00</span>
					</p>
					<span class="span1">2017未来汽车开发者大会-优秀项目路演</span>
				</div>
				<div class="scheduleRow" style="border-bottom: 1px solid #e3e3e3;">
					<p>
						<i></i>
						<span>8月4日 09:30-12:00</span>
					</p>
					<span class="span1">2017未来出行论坛：汽车共享风口之变</span>
				</div>
				<ul class="scheduleList">
					<li>
						<p>
							<i></i>
							<span>8月4日 09:00-09:10 </span>
						</p>
						<span class="span1">开幕<br><br>同济大学教授<br>吴小员</span>
					</li>
					<li>
						<p>
							<i></i>
							<span>8月4日 09:10-10:50</span>
						</p>
						<span class="span1">主题演讲</span><br>
						<span class="span1">罗兰贝格执行总监 -- 郑赟<br>中国共享出行分析预测报告</span><br>
						<span class="span1">百度公司高级副总裁 -- 邬学斌<br>阿波罗计划与无人驾驶</span><br>
						<span class="span1"> 环球车享总经理 -- 曹光宇<br>共享出行的探索与实践</span><br>
						<span class="span1">Gofun出行 COO -- 谭奕<br>未来交通解决方案</span><br>
						<span class="span1"> 一度用车创始人 -- 庞义成<br>汽车共享的未来</span><br>
					</li>
					<li>
						<p>
							<i></i>
							<span>8月4日 10:50-12:00</span>
						</p>
						<span class="span1">沙龙对话 - 汽车共享风口之变</span><br>
						<span class="span1">途歌(TOGO)CEO -- 王利峰</span><br>
						<span class="span1">PonyCar创始人 -- 刘逸洵</span><br>
						<span class="span1">云杉智慧CEO -- 徐征鹏</span><br>
						<span class="span1">易微行CEO -- 杨洋</span><br>
						<span class="span1">盼达创始人、CEO -- 高钰</span><br>
					</li>
				</ul>
				<div class="scheduleRow">
					<p>
						<i></i>
						<span>8月4日 13:30-17:30</span>
					</p>
					<span class="span1">企业专场推介会</span>
				</div>
				<div class="scheduleRow">
					<p>
						<i></i>
						<span>8月3、4、5日全天</span>
					</p>
					<span class="span1">未来汽车嘉年华</span>
				</div>
				<div class="scheduleRow">
					<p>
						<i></i>
						<span>8月5日 09:30-11:00</span>
					</p>
					<span class="span1">EV英雄会-电车穿越中国</span>
				</div>
				<div class="scheduleRow" style="margin:0.3rem 0rem;">
					<p>
						<i></i>
						<span>2017年8月5日（17:00）</span>
					</p>
					<span class="span1">闭幕</span>
				</div>
			</div>
			<a href="javascript:;" name="c_guest"></a>
			<div class="exGusetCon">
				<img src="../../img/exhibition_6.png"/>
			</div>
			<a href="javascript:;" name="c_company"></a>
			<img src="../../img/exhibition_8.png"/>
			<a href="javascript:;" name="c_media"></a>
			<img src="../../img/exhibition_9.png"/>
			<!--tab-->
			
			<div class="routeTab">
				<div class="tabs">
				  	<span class="on" ></span> 
				  	<span></span> 
				  	<span></span>
				</div>
 				<div class="tabCon">
	  				<div class="tabList" style="display: block;">
				   		<h3>浦东国际机场 — 上海新国际博览中心</h3>
				   		<p>出租车：距离33公里；约35分钟，车费约95元;<br />
						磁浮列车：仅8分钟；单程50元（如出示机票，单程40元）；往返80元；<br />
						机场三线、机场六线：约40分钟；车费16元；<br />
						地铁：乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约40分钟；车费4元。</p>
				   		<h3>虹桥机场—上海新国际博览中心</h3>
						<p>出租车：距离32公里；约35分钟，车费约95元；<br />
						地铁：乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约50分钟，车费6元</p>
	  				</div>
	  				<div class="tabList">
				   		<h3>上海火车站—上海新国际博览中心</h3>
				   		<p>出租车：相距16公里；车费约45元；<br />
地铁：可乘1号线到人民广场站，换乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约35分钟；车费4元。</p>
				   		<h3>上海南站—上海新国际博览中心</h3>
				   		<p>出租车：相距20公里；车费约55元；<br />
地铁：可乘1号线到人民广场站，换乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约45分钟；车费5元。</p>
<h3>上海虹桥火车站—上海新国际博览中心</h3>
				   		<p>出租车：相距35公里；车费约100元；<br />
地铁：乘2号线至龙阳路站下，步行或换乘7号线至上海新国际博览中心；约50分钟；车费6元。</p>
	  				</div>
	  				<div class="tabList">
				   		<p style="padding-top: 3px;">上海新国际博览中心位于龙阳路、罗山路交汇处，易于通行。从市中心横跨南浦大桥、杨浦大桥可直达。
停车位：上海新国际博览中心共有4603个车位供客人泊车。停车费：每小时5元，单日40元封顶，此费率适用于小轿车或其它轻型车辆。</p>
	  				</div>
 				</div>
			</div>
			<img src="../../img/exhibition_11.png"/>
			<div class="exContactCon">
				<img src="../../img/exhibition_contact.jpg" class="imgTitle"/>
				<p>
					<img src="../../img/ex_contact_1.jpg"/>
					<span>关清华</span>
				</p>
				<a href="tel:13596482001">
					<img src="../../img/ex_contact_2.jpg"/>
					<span>13596482001</span>
				</a>
				<p style="border-bottom: 1px solid #e3e3e3;">
					<img src="../../img/ex_contact_3.jpg"/>
					<span>guanqinghua@d1ev.com</span>
				</p>
				<p>
					<img src="../../img/ex_contact_1.jpg"/>
					<span>葛宁薇</span>
				</p>
				<a href="tel:18810796694">
					<img src="../../img/ex_contact_2.jpg"/>
					<span>13520593566</span>
				</a>
				<p >
					<img src="../../img/ex_contact_3.jpg"/>
					<span>geningwei@d1ev.com</span>
				</p>
			</div>
		</div>
	</body>
	<script src="../../js/common.js"></script>
	<script src="../../js/swiper.min.js"></script>
	<script async="async" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#gotop').hide();
        	$(window).scroll();
        	$(".futureTop").headroom({
		        tolerance: 5,
		        offset: 205,
		        classes: {
		            initial: "animated",
		            pinned: "fadeInDown",
		            unpinned: "fadeOutUp"
		        }
		    });
			$('#futureMenuBtn').click(function(){
				if($(this).hasClass('show')){
					$(this).removeClass('show');
					$('.futureMenuTc').slideUp();
					$(".content").css({"position":"relative"});
					$('body').css('overflow-y','auto');
				}else{
					$(this).addClass('show');
					$('.futureMenuTc').slideDown();
					$(".content").css({"position":"relative","top":0});
					$('body').css('overflow','hidden');
				}
			});
			$(".futureMenuTc").on('click',"a",function(e){
				e.stopPropagation();
				$(this).addClass('on').siblings('span').removeClass('on');
				$('#futureMenuBtn').removeClass('show');
				$('.futureMenuTc').slideUp();
				$(".content").css({"position":"relative"});
				$('body').css('overflow-y','auto');
				/*$('#futureTop').removeClass('fadeOutUp');
				$('#futureTop').addClass('fadeInDown');*/
		    })
			$('.futureMenuTc').click(function(){
				$('#futureMenuBtn').removeClass('show');
				$('.futureMenuTc').slideUp();
				$(".content").css({"position":"relative"});
				$('body').css('overflow-y','auto');
			})
		    var swiper = new Swiper('.swiper-container', {
		        pagination: '.swiper-pagination'
		        //paginationType: 'fraction'

		    });
		    var swiper2 = new Swiper('.swiper-container2', {
		        pagination: '.swiper-pagination2',
		        effect: 'coverflow',
		        grabCursor: true,
		        centeredSlides: true,
		        slidesPerView: 'auto',
                autoplay :'3000',
                loop : true,
		        coverflow: {
		            rotate: 50,
		            stretch: 0,
		            depth: 100,
		            modifier: 1,
		            slideShadows : true
		        }
		    });
		    $('.routeTab .tabs span').each(function(index,obj){
		 		obj.index=index;
		 		//$(obj).css('background-image','url(../../img/tab_'+this.index+'_active.png);')
		    	$(obj).click(function(){
		     		$(window).scroll();
		     		$(this).addClass('on').siblings('span').removeClass('on');
		     		$('.tabCon .tabList').stop().hide().eq(this.index).stop().fadeIn(300);
		    	})
		   });
		   $(".content").on('click',".downloadFile.nofile",function(e){
				$(".content").css({"position":"relative","top":0});
				$('body').css('overflow','hidden');
	   			confirm("敬请期待！",["知道了"],function(){
					$('body').css('overflowY','auto');
				},function(){
					$('body').css('overflowY','auto');
				})
		    })
		});
		$(window).scroll(function(){
        	if ($(window).scrollTop()>800){
	            $("#gotop").fadeIn(500);
	        }
	        else
	        {
	            $("#gotop").fadeOut(100);
	        }
	    });
	    $('#gotop').click(function(){
	        $("html, body").animate({
	              scrollTop: 0
	        });
	    });
        $.ajax({
            url: window.location.origin + '/upload/file/jssdk_signpackage',
            type: 'POST',
            dataType: 'json',
            data: {'share_url': window.location.href},
            success: function ($data){
                if ($data.appId != undefined){
                    var shareData = {
                        title: '2017全球新能源汽车大会未来汽车展（GNEV EXPO）',
                        desc: '2017全球新能源汽车大会未来汽车展（GNEVEXPO）将于8月3日-5日于上海新国际博览中心举办，展会包括未来10年新能源品牌汽车,包括吉利、北汽、江淮、奇瑞、长江、特来电、时空电动、电咖、御捷、知豆等未来汽车车型或产品,展会还将围绕新能源电动汽车未来前景和发展趋势展开探讨.',
                        link: $data.url,
                        imgUrl: window.location.origin + '/src/common/public/images/logo-app.jpg'
                    };
                    wx.config({
                        debug: false,
                        appId: $data.appId,
                        timestamp: $data.timestamp,
                        nonceStr: $data.nonceStr,
                        signature: $data.signature,
                        jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone']
                    });
                    wx.ready(function () {
                        wx.onMenuShareTimeline(shareData);
                        wx.onMenuShareAppMessage(shareData);
                        wx.onMenuShareQQ(shareData);
                        wx.onMenuShareWeibo(shareData);
                        wx.onMenuShareQZone(shareData);
                    });
                }
            }
        });

	</script>
	<div id="footer-analysis-3rd" style="display: none;">
		<script type="text/javascript" src="../../js/analysis.3rd.js"></script>
	</div>
</html>