<!DOCTYPE html>
<html lang="zh-CN" style="opacity: 0;">
	<head>
		<meta charset="utf-8">
		<title>2017年全球新能源汽车大会之企业专场推介会-第一电动网</title>
		<meta name="keywords" content="新能源汽车企业推介会">
        <meta name="description" content="2017年全球新能源汽车大会之企业专场推介会现场解读企业及产品核心竞争力，对接采购和供应需求，拉近企业与客户的距离，做到当面沟通，及时高效。本届企业专场推介会由主办方第一电动网全程协调。">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="renderer" content="webkit">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="wap-font-scale" content="no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<script src="../../js/change_view.js" type="text/javascript" charset="utf-8"></script>
		<meta name="apple-mobile-web-app-title" content="">
		<script type="text/javascript">
	     var myDate = new Date();
	    </script>
	    <link rel="stylesheet" href="../../css/swiper.min.css">
		<link rel="stylesheet" type="text/css" href="../../css/comm.css" />
		<link rel="stylesheet" type="text/css" href="../../css/detail/exhibition.css" />
		<script src="../../js/jquery2.1.4.min.js" type="text/javascript"></script>
		<script src="../../js/headroom.js"></script>
	</head>
	<body>
		<div class="futureMenuTc">
			<div class="futureMenuCon">
				<a href="#c_intro">企业推介会介绍</a>
				<a href="#c_vision">会议愿景</a>
				<a href="#c_history">往届概况</a>
				<a href="#c_reward">会议奖励</a>
				<a href="#c_schedule">会议流程</a>
				<a href="#c_place">会议地点</a>
				<a href="#c_us">联系我们</a>
			</div>
		</div>
		<div class="futureTop" id='futureTop'>
			<a href="http://www.touchev.com/"><img src="../../img/presentation_0.jpg" class="imgPre"/></a>
			<span class="futureMenuBtn" id='futureMenuBtn' style="background-image: url(../../img/exhibition_2.jpg);"></span>
		</div>
		<div class="rightMenu">
			<a href="http://d1evqiye.mikecrm.com/XFDglnZ" class="rightSign"></a>
			<a href="javascrpt:;" class="gotop" id="gotop"></a>
		</div>
		<div id="content" class="content">
			<a href="javascript:;" name="c_intro"></a>
			<img src="../../img/presentation_01.png"/>
			<div class="infoCon">
				<img src="../../img/presentation_02.jpg" class="imgTitle"/>
				<p>
					2017年全球新能源汽车大会之企业专场推介会<br />
我们为有实力、有创新、有需求的企业和车辆运营商、经销商搭建一个互动的平台。选出25家企业，现场解读企业及产品核心竞争力，对接采购和供应需求，拉近企业与客户的距离，做到当面沟通，及时高效。本届企业专场推介会由主办方第一电动网全程协调。
				</p>
			</div>
			<a href="javascript:;" name="c_vision"></a>
			<img src="../../img/presentation_03.jpg" style="margin:0.4rem auto;"/>
			<a href="javascript:;" name="c_history"></a>
			<div class="swiper-container bannerArea1">
				<img src="../../img/presentation_04.jpg" class="titleImg"/>
		        <div class="swiper-wrapper">
		            <div class="swiper-slide">
		            	<img src="../../img/presentation_pic_1.jpg"/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../../img/presentation_pic_2.jpg"/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../../img/presentation_pic_3.jpg"/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../../img/presentation_pic_4.jpg"/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../../img/presentation_pic_5.jpg"/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../../img/presentation_pic_6.jpg"/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../../img/presentation_pic_7.jpg"/>
		            </div>
		            <div class="swiper-slide">
		            	<img src="../../img/presentation_pic_8.jpg"/>
		            </div>
		        </div>
		        <div class="swiper-pagination"></div>
		    </div>
		    <a href="javascript:;" name="c_reward"></a>
		    <div class="rewardCon">
		    	<img src="../../img/presentation_06.jpg" style="margin:0.4rem auto;"/>
		    	<span>奖励一</span>
		    	<p>大会现场15-30分钟企业主题宣讲</p>
		    	<span>奖励二</span>
		    	<p>展前各大合作媒体曝光展示<br/>
会议现场报到区、会议区、观展指南等多形式企业LOGO露出，第一电动网对参会企业的会议成果进行全方位报道。</p>
		    	<span>奖励三</span>
		    	<p>报名企业前50位审核合格后可获得第一电动网金牌供应商
{银牌会员}服务三个月。</p>
		    	<p>第一电动网金牌供应商<br/>
垂直的新能源行业B2B平台，入驻了4000余家新能源汽车相关企业，涵盖了10000余种行业产品，网罗了7000余位行业人士，提供强大的产业链数据库服务。</p>
		    	<p>加入金牌供应商可获得以下服务：</p>
		    	<i>1、获得企业店铺 </i>
		    	<p class="p1">金牌供应商对所有入驻企业的店铺及产品进行SEO优化，
    在搜索引擎排名更靠前。</p>
    			<i>2、EDM服务 </i>
		    	<p class="p1">金为企业用户推送行业热点资讯、产销数据、研究周报、行
     业活动等相关信息，助企业第一时间了解行业先机。</p>
    			<i>3、供需匹配</i>
		    	<p class="p1">金牌供应商对所有企业及产品进行精确化标签分类，发布 
     供需信息能够有效展示和精确化匹配。</p>
     			<i>4、数据报告</i>
		    	<p class="p1">第一电动研究院提供新能源汽车行业的第一手数据及报告， 
     帮您全方位解读行业动态。</p>
		    </div>
			<a href="javascript:;" name="c_apply"></a>
			<a href="http://d1evqiye.mikecrm.com/XFDglnZ" class="presentApplyBtn">参会报名</a>
			<a href="javascript:;" name="c_schedule"></a>
			<div class="presentAgenda">
				<img src="../../img/presentation_07.jpg"/>
				<div>
					<i></i>
					<span>2017年8月4日 下午 13:30-17:30</span>
				</div>
				<p>1、主持人致辞，企业推介会开始</p>
				<p>2、入选企业逐一进行主题演讲</p>
				<p>3、现场专业观众进行提问</p>
			</div>
			<a href="javascript:;" name="c_place"></a>
			<img src="../../img/presentation_08.jpg" style="margin:0.4rem 0 0.3rem 0rem;"/>
			<a href="javascript:;" name="c_us"></a>
			<div class="exContactCon">
				<img src="../../img/presentation_09.jpg" class="imgTitle"/>
				<i>企业参会咨询</i>
				<p>
					<img src="../../img/ex_contact_1.jpg"/>
					<span>葛小姐</span>
				</p>
				<div>
					<img src="../../img/ex_contact_2.jpg"/>
					<a href="tel:010-5188366-840">010-5188366-840</a>
					<span>或</span>
					<a href="tel:010-5188366-840">13520593566</a>
				</div>
				<p style="border-bottom: 1px solid #e3e3e3;">
					<img src="../../img/ex_contact_3.jpg"/>
					<span>geningwei@d1ev.com</span>
				</p>
			</div>
		</div>

	<script src="../../js/common.js"></script>
	<script src="../../js/swiper.min.js"></script>
	<script async="async" src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#gotop').hide();
        	$(window).scroll();
        	$(".futureTop").headroom({
		        tolerance: 5,
		        offset: 205,
		        classes: {
		            initial: "animated",
		            pinned: "fadeInDown",
		            unpinned: "fadeOutUp"
		        }
		    });
			$('#futureMenuBtn').click(function(){
				if($(this).hasClass('show')){
					$(this).removeClass('show');
					$('.futureMenuTc').slideUp();
					$(".content").css({"position":"relative"});
					$('body').css('overflow-y','auto');
				}else{
					$(this).addClass('show');
					$('.futureMenuTc').slideDown();
					$(".content").css({"position":"relative","top":0});
					$('body').css('overflow','hidden');
				}
			});
			$(".futureMenuTc").on('click',"a",function(e){
				e.stopPropagation();
				$(this).addClass('on').siblings('span').removeClass('on');
				$('#futureMenuBtn').removeClass('show');
				$('.futureMenuTc').slideUp();
				$(".content").css({"position":"relative"});
				$('body').css('overflow-y','auto');
				/*$('#futureTop').removeClass('fadeOutUp');
				$('#futureTop').addClass('fadeInDown');*/
		    })
			$('.futureMenuTc').click(function(){
				$('#futureMenuBtn').removeClass('show');
				$('.futureMenuTc').slideUp();
				$(".content").css({"position":"relative"});
				$('body').css('overflow-y','auto');
			})
		    var swiper = new Swiper('.swiper-container', {
		        pagination: '.swiper-pagination',
		        //paginationType: 'fraction'
		        autoplay :'3000',
		        loop : true,
		    });
		    $('.routeTab .tabs span').each(function(index,obj){
		 		obj.index=index;
		 		//$(obj).css('background-image','url(../../img/tab_'+this.index+'_active.png);')
		    	$(obj).click(function(){
		     		$(window).scroll();
		     		$(this).addClass('on').siblings('span').removeClass('on');
		     		$('.tabCon .tabList').stop().hide().eq(this.index).stop().fadeIn(300);
		    	})
		   });
		   $(".content").on('click',".downloadFile",function(e){
				$(".content").css({"position":"relative","top":0});
				$('body').css('overflow','hidden');
	   			confirm("敬请期待！",["知道了"],function(){
					$('body').css('overflowY','auto');
				},function(){
					$('body').css('overflowY','auto');
				})
		    })
		});
		$(window).scroll(function(){
        	if ($(window).scrollTop()>800){
	            $("#gotop").fadeIn(500);
	        }
	        else
	        {
	            $("#gotop").fadeOut(100);
	        }
	    });
	    $('#gotop').click(function(){
	        $("html, body").animate({
	              scrollTop: 0
	        });
	    });
        $.ajax({
            url: window.location.origin + '/upload/file/jssdk_signpackage',
            type: 'POST',
            dataType: 'json',
            data: {'share_url': window.location.href},
            success: function ($data){
                if ($data.appId != undefined){
                    var shareData = {
                        title: '2017年全球新能源汽车大会之企业专场推介会',
                        desc: '2017年全球新能源汽车大会之企业专场推介会现场解读企业及产品核心竞争力，对接采购和供应需求，拉近企业与客户的距离，做到当面沟通，及时高效。本届企业专场推介会由主办方第一电动网全程协调。',
                        link: $data.url,
                        imgUrl: window.location.origin + '/src/common/public/images/logo-app.jpg'
                    };
                    wx.config({
                        debug: false,
                        appId: $data.appId,
                        timestamp: $data.timestamp,
                        nonceStr: $data.nonceStr,
                        signature: $data.signature,
                        jsApiList: ['checkJsApi','onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone']
                    });
                    wx.ready(function () {
                        wx.onMenuShareTimeline(shareData);
                        wx.onMenuShareAppMessage(shareData);
                        wx.onMenuShareQQ(shareData);
                        wx.onMenuShareWeibo(shareData);
                        wx.onMenuShareQZone(shareData);
                    });
                }
            }
        });

	</script>
		<div id="footer-analysis-3rd" style="display: none;">
			<script type="text/javascript" src="../../js/analysis.3rd.js"></script>
		</div>
	</body>
</html>